$white: #ffffff;
$button-text: 400 16px/20px Source Sans Pro, sans-serif;

:host {
    display: flex;
    background-color: #161527;
    color: $white;
    box-shadow: 0 7px 17px rgba(22, 21, 39, 0.2);
    border-radius: 16px;
    height: 54px;
    font: $button-text;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    border: none;
}

:host[constraints="fill"] {
    width: 100%;
}
